.topRow{
    margin-top: 50px;;
}
.rRows{
    margin-top: 100px;
    margin-bottom: 100px;
}
.botRow{
    margin-bottom: 50px;
}
.square {
    width: 100% !important;
    height:0 !important;
    padding: 0 0 100% 0 !important;
}