<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Interpersonal Therapy</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-list-header>Welcome,{{ current_username }}! </ion-list-header>

      <ion-item>
        <ion-button fill = "clear"(click)="toInteractions()">
          <!-- <ion-icon name = "leaf">Interactions</ion-icon> -->
          Interactions
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button fill = "clear" (click)="toRoutine()">Routine Log</ion-button>
      </ion-item>

      <ion-item>
        <ion-button fill = "clear" (click)="toMessages()">Messages</ion-button>
      </ion-item>

      <ion-item>
        <ion-button fill = "clear" (click)="toAccInfo()">Account Information</ion-button>
      </ion-item>

      <ion-item>
        <ion-button fill = "clear" (click)="toAbout()">About</ion-button>
      </ion-item>
      
      <ion-item>
        <ion-button fill = "clear" (click)="toSettings()">Settings</ion-button>
      </ion-item>

      <ion-item>
        <ion-button fill = "clear" (click)="toEmergency()">Emergency</ion-button>
      </ion-item>


    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

<!--  -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Emergency Info</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item>
    <ion-label class="ion-text-wrap"> If you are currently having thoughts of suicide, please immediately call the National Suicide Prevention Hotline:</ion-label>
    <ion-label href="tel:+1-800-273-8255" class="button button-positive"> 1-800-273-8255 </ion-label>
  </ion-item>

  <ion-item>
  <ion-textarea readonly> If you are experiencing an Immediate Emergency, please call 911 Emergency Services!</ion-textarea>
    <ion-fab slot = "fixed">
      <ion-fab-button>Call 911</ion-fab-button>
    </ion-fab>
  </ion-item>

</ion-content>
