<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Interpersonal Therapy</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-list-header>Welcome,{{ current_username }}! </ion-list-header>

      <ion-item>
        <ion-button fill = "clear"(click)="toInteractions()">
          <!-- <ion-icon name = "leaf">Interactions</ion-icon> -->
          Interactions
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button fill = "clear" (click)="toRoutine()">Routine Log</ion-button>
      </ion-item>

      <ion-item>
        <ion-button fill = "clear" (click)="toMessages()">Messages</ion-button>
      </ion-item>

      <ion-item>
        <ion-button fill = "clear" (click)="toAccInfo()">Account Information</ion-button>
      </ion-item>

      <ion-item>
        <ion-button fill = "clear" (click)="toAbout()">About</ion-button>
      </ion-item>
      
      <ion-item>
        <ion-button fill = "clear" (click)="toSettings()">Settings</ion-button>
      </ion-item>

      <ion-item>
        <ion-button fill = "clear" (click)="toEmergency()">Emergency</ion-button>
      </ion-item>


    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

<!--  -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-list>
      <ion-item-sliding>
        <ion-item>Slide For Light Mode</ion-item>
        <ion-item-options side="end">
          <ion-item-option color="warning" expandable (click) = "enableLight()">
            <ion-icon name="sunny"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item>Slide For Dark Mode</ion-item>
        <ion-item-options side="end">
          <ion-item-option color="tertiary" expandable (click) = "enableDark()">
            <ion-icon name="moon"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <!-- <ion-header>Need to update some settings?</ion-header> -->
      <ion-item>
        <ion-button position="center" expand="block" (click)="updateUserSettings()">Update User Info</ion-button>
      </ion-item>
      <ion-item>
        <ion-button position="center" expand="block" (click)="logout()">Logout</ion-button>
      </ion-item>
      <ion-item>
        <ion-textarea readonly>
          To delete your account, click "Delete User Account". WARNING: Deleting your account will also clear any personal information and preferences.
          This process is permanent and can not be undone. 
          If you wish to resume application usage later, you will have to create a new account and re-enter any preferences and personal information.
        </ion-textarea>
        <ion-button expand="block" (click)="PopUp()">Delete User Account</ion-button>
      </ion-item>
      
    </ion-list>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color = "medium" expand="full" (click)="toLauncher()"><ion-icon slot ="icon-only" name="apps"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>

