<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Daily Routine Log</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-label>Recent Routines:</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>This will be a list of all this user's Interactions</ion-label>
  </ion-item>

    <ion-button expand="full" (click)="openNewRoutinePage()">
      <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
    </ion-button>

</ion-content>
