<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <!-- <ion-item> -->
    <ion-label color = "primary" position = "floating" class="ion-text-wrap">Proprietor: Johnny DiCristo</ion-label>
  <!-- </ion-item> -->
  
  <ion-img [src]="jimg" style="width: 200px; height: 400px;"></ion-img>
  <ion-textarea readonly>Johnny DiCristo; 
    Born and raised in Charlotte, North Carolina. Current Undergrad student at the University of South Carolina studying Pre-Med and Exercise Science.
    All business operations and ownership will run through Johnny. </ion-textarea>
</ion-item>

<ion-item>
  <!-- <ion-item> -->
    <ion-label color = "primary" position = "floating" class="ion-text-wrap">Business Consultant: Tommy Hammett</ion-label>
  <!-- </ion-item> -->
  <ion-img [src]="timg" style="width: 200px; height: 400px;"></ion-img>
  <ion-textarea readonly>Tommy Hammett; 
    Born and raised outside of Philadelphia, PA. Currently a junior at the University of South Carolina studying International Business and Finance. 
    Contact Tommy regarding business inquiries via email at twh2@email.sc.edu or at (484)-883-6546
</ion-textarea>

</ion-item>

<ion-item>
  <!-- <ion-item> -->
    <ion-label color = "primary" position = "floating" class="ion-text-wrap"> Lead Developer: Luis Baez</ion-label>
  <!-- </ion-item> -->
  
  <ion-img [src]="limg" style="width: 200px; height: 400px;"></ion-img>
  <ion-textarea readonly>Luis Baez; 
    Born and raised in Myrlte Beach, South Carolina. Currently pursueing a Masters at the University of South Carolina in Computer Science. 
    Contact Luis regarding Technical Concerns and Application Integration requests via email at lbaez@email.sc.edu.
</ion-textarea>

</ion-item>

</ion-content>
