<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Interpersonal Therapy</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-list-header>Welcome,{{ current_username }}! </ion-list-header>

      <ion-item>
        <ion-button fill = "clear"(click)="toInteractions()">
          <!-- <ion-icon name = "leaf">Interactions</ion-icon> -->
          Interactions
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button fill = "clear" (click)="toRoutine()">Routine Log</ion-button>
      </ion-item>

      <ion-item>
        <ion-button fill = "clear" (click)="toMessages()">Messages</ion-button>
      </ion-item>

      <ion-item>
        <ion-button fill = "clear" (click)="toAccInfo()">Account Information</ion-button>
      </ion-item>

      <ion-item>
        <ion-button fill = "clear" (click)="toAbout()">About</ion-button>
      </ion-item>
      
      <ion-item>
        <ion-button fill = "clear" (click)="toSettings()">Settings</ion-button>
      </ion-item>

      <ion-item>
        <ion-button fill = "clear" (click)="toEmergency()">Emergency</ion-button>
      </ion-item>


    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

<!--  -->
<ion-header [translucent]="true">
  <ion-toolbar color = "primary">
    <ion-buttons slot="start">
      <ion-menu-button id = "first"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Interactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

<ion-item>
  <ion-label color = "dark" >Recent Interactions: </ion-label>
</ion-item>
<ion-list>
  <ion-item *ngFor="let interaction of interactions" (click)="goToInteraction(interaction)">
    <ion-label>
      {{interaction.date}}
    </ion-label>
      {{interaction.location}}
  </ion-item>

</ion-list>
  <ion-button expand="full" (click)="openNewInteractionPage()">
    <ion-icon slot="icon-only" name="add-circle"></ion-icon>
  </ion-button>
  

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color = "medium" expand="full" (click)="toLauncher()"><ion-icon slot ="icon-only" name="apps"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>
