<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Interactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

<ion-item>
  <ion-label color = "dark" >Recent Interactions: </ion-label>
</ion-item>
<ion-list>
  <ion-item *ngFor="let interaction of interactions" (click)="goToInteraction(interaction)">
    <ion-label>
      {{interaction.date}}
    </ion-label>
      {{interaction.location}}
  </ion-item>

</ion-list>
  <ion-button expand="full" (click)="openNewInteractionPage()">
    <ion-icon slot="icon-only" name="add-circle"></ion-icon>
  </ion-button>
  

</ion-content>
