#start_b {
    text-align: center;
    position: center;
    left: 100;

}
#cLabel{
    justify-content: center;
    position: fixed;
    display: flex;
    margin:auto;
    width: -100vw;
    text-align: center;
    left: 100px;
    // position: center;
}

#flabel{
    margin:auto;
    justify-content: center;
    display: flex;

}
