<ion-header>
  <ion-toolbar>
    <ion-title text-center>Interpersonal Therapy!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label text-center> Select Channel</ion-label>
  </ion-item>

  <ion-item>
    <ion-button size = "default" expand = "full" class="ion-text-wrap" (click) = "goToLogin()">Client   </ion-button>
    <ion-button  size = "default" expand = "full" class="ion-text-wrap" (click) = "goToDocLogin()">Therapist</ion-button>
  </ion-item>

</ion-content>
